@model IEnumerable<PersonDB_project.Models.UserViewModel>

@{
    ViewBag.Title = "MultiIndex";
}

<h2>MultiIndex</h2>

<p>
    <button class="btn btn-success" onclick="Create()">Create new</button>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayName("Телефон")
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @if (item.Phones.Count == 0)
                {
                    <span> У пользователя нет телефона</span>
                }
                else
                {
                    foreach (var phone in item.Phones)
                    {
                        <span>
                            @Html.DisplayFor(modelItem => phone.PhoneType)
                        </span>

                        <span>
                            @Html.DisplayFor(modelItem => phone.PhoneNumber)
                        </span>
                        <br />
                    }
                }
            </td>

            <td>
                <button class="btn btn-primary" onclick="Edit(@item.Id)">Edit</button>
                <button class="btn btn-info btn" onclick="Details(@item.Id)">Details</button>
                <button class="btn btn-danger btn" onclick="Delete(@item.Id)">Delete</button>
            </td>
        </tr>
    }

</table>


